/* font style.......... */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* .........share style........ */
.display-flex{
  display: flex;
}

.btn-primary{
  background-color: #FF900E;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.25rem;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;

}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.section-title{
  font-size: 2.8rem;
}
/* ..color.. */
.dark-03{
  color: #727272;
}

.dark-02{
  color: #424242;
}

/* ......navbar style...... */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-size: 3rem;
  font-weight: bold;
}
.nav-item{
      list-style:  none;
      margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  
}

.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* ........banner style..... */

.banner-contant{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size:4rem ;
  font-weight: 700;
}
.banner-description{
  color: ;
}
.banner-img{
  width: 100%;
}

/* ........teams and features styles.......... */

.teams{
  align-items: center;
  
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}




#Quick-list{
  font-weight: 500;
}
#Features{
  color: #FF900E;
}
/* ........features love ......... */
#features-love-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.features-title{
  font-size: 2.8rem;
  width: 700;
}
.featires-card{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  max-width: 586px;
}
.features-description{
  max-width: 586px;
}

.features-love{
  gap: 145px;
}


.featires-card .features-card-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
 
}
#experience-bedge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#experience-year{
  
  font-size: 4rem;
  font-weight: 700;

}
/* ...........some fact.style............ */

.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}

.fact-card{
  border:1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
 
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
  margin-bottom: 50px;
}

/* Our Sponspors. */

.Sponspors{
  max-width: 540px;
  text-align: center;
  margin: 50px auto;

}

.sponspors-patner{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  

  
}

.sponspors-patner img{
      filter: grayscale(100);
}



/* responsive small medio quariy......... */

@media screen and (max-width:576px) {
  .navbar,.nav-links,.teams,.features-love{
    flex-direction: column;

  }

  .team-img-container, .facts-container,.sponspors-patner{
    grid-template-columns: repeat(1,1fr);
    
  }
  .our-features{
    margin-left: 20px;
  }

  .facts-container{
    justify-items: center;
    gap: 30px;
  }
  .sponspors-patner{
    justify-items: center;

    gap: 50px;
}

.features-love img{
  width: 100%;
}
#experience-bedge{
 margin-top: 20px;
 margin-left: 20px;
}
}



/* ....... meduiem device ........... */

@media screen and (min-width:576px) and (max-width:992px) {
  .teams,.features-love{
    flex-direction: column;
  }
   .our-features{
    margin: 50px auto;
   }

   .facts-container,.sponspors-patner{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
justify-items: center;
   }

   .features-love img{
  width: 100%;
}
#experience-bedge{
 margin-top: 20px;
 margin-left: 20px;
}
}












































































































/* ..........share style.........

.display-flex{
  display: flex;
}

.dark-03{
  color: #727272;
}

.dark-02{
  color: #424242;
}

.bg-banner{
  background-color: rgba(255, 144, 14, 0.1);
}


/* ...........nav style.......... */
/* nav ul li{
  list-style: none;
}
nav a{
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  font-weight: 400;
  
 

}
nav ul li {
  margin-right: 50px;
}
.nav-title{
  justify-content: space-between;
  align-items: center;
 
}
.band{
  font-size:2.8rem ;
  font-weight: bold;
}
.band-item{
  justify-content: center;
  justify-items: center;
}

.banner{
  padding: 0 150px 0 200px ;
}

.banner-contant h4{
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem;
}
.banner-contant-description{
  font-weight: 400;
  font-size: 1rem;

}
.line-height{
  line-height: 1rem;
}

.banner-contant{
  text-align: center;
  
}

.banner-img{
  width: 100%;
} */ 